/* The container */
.container {
    display: block;
    position: relative;
    // padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #8996A2;
}

/* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
//     background-color: #ccc;
// }

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    border-color: #00BFBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00BFBE;
    transform: translate(-50%, -50%);
}

textarea{
    border-radius: 4px;
    background: rgba(33, 33, 33, 0.03);
    padding: 16px 20px;
    color: #8F8F8F;
    height: 148px;
}