@charset "utf-8";

@import "reset";
@import "input";

// guideline
.guideline{
    list-style: decimal;
    padding-left: 24px;
    a{
        display: block;
        width: 100%;
        text-decoration: underline;
        color: blue;
        margin: 8px 0;
    }
}

// 主架構
body{
    // font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: 'Noto Sans TC';
    color: #444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #F8F7F7;
}

.container{
    width: 960px;
    margin: 0 auto;
    @media (max-width: 960px) {
        padding: 0 16px;
        width: 100%;
    }
}

// header
header{
    display: flex;
    justify-content: center;
    padding: 16px 0;
    background-color: #fff;
    img{
        max-width: 134px;
    }
}

// 交易步驟
.step{
    &-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 62px 0 80px;
        @media (max-width: 960px){
            padding: 0 0 80px;
        }
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        span{
            color: #4B4E55;
            font-size: 18px;
            line-height: 34.5px;
            margin-top: 8px;
            position: absolute;
            bottom: -40px;
            word-break: keep-all;
        }
    }
    &-img{
        height: 123px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-line{
        width: 205px;
        height: 8px;
        background-color: #D9D9D9;
        margin: 0 -4px;
    }
}

// 主區塊
.section{
    &-container{
        display: flex;
        gap: 0 21px;
        margin-bottom: 40px;
        @media (max-width: 960px){ 
            flex-direction: column-reverse;  
        }
        &-column{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px 0;
        }
    }
    &-wrap{
        width: 100%;
        &.width-30{
            width: 343px;
            flex: 0 0 auto;
            @media (max-width: 960px){
                width: 100%;
            }
        }
        @media (max-width: 960px){
            margin-bottom: 32px;
        }
    }
    &-header{
        padding: 10px 10px 10px 24px;
        background: #11A4A2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        h1{
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            display: flex;
            align-items: center;
        }
        &-withicon::after{
            content: '';
            background: url('../images/icon_info.svg') no-repeat 100% 100%;
            width: 24px;
            height: 24px;
            margin-left: 8px;
        }
    }
    &-content{
        box-shadow: 1px 2px 8px 0px rgba(39, 70, 68, 0.10);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        &-wrap{
            padding: 16px;
        }
    }
    &-full-img img{
        width: 100%;
    }
}

// collapse控制按鈕
.collapse-control{
    &.collapse{
        .expand{
            display: none;
        }
        .collapse{
            display: block;
        }
    }
    .expand{
        display: block;
    }
    .collapse{
        display: none;
    }
}
.collapse-content{
    display: none;
    &.active{
        display: block;
    }
}

// 商家資訊
#shopinfo .section-content-wrap{
    padding: 24px;
}
.shopinfo{
    &-item{
        margin: 16px 0;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        label{
            color: #8F8F8F;
            font-size: 14px;
            letter-spacing: 0.5px;
        }
        div{
            font-size: 16px;
            line-height: 24px;
            color: #1E1E1E;
            letter-spacing: 0.15px;
        }
    }
    &-between{
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 0 16px;
        margin-bottom: 16px;
        @media (max-width: 960px){
            display: block;
            gap: unset;
        }
        .bx-wrapper{
            @media (min-width: 961px){
                width: 294px;
                flex: 0 0 auto;
                border-radius: 8px 8px 8px 0;
                overflow: hidden;
                margin-right: 16px;
            }
            @media (max-width: 960px){
                margin-bottom: 16px;
                border-radius: 8px 8px 0 0;
            }
            > div{
                width: 294px !important;
                @media (max-width: 960px){
                    width: 100% !important;
                }
            }
        }
        .shopinfo-between-list{
            width: 100%;
        }
    }
    &-img{
        border-radius: 8px 8px 0px 0px;
        box-shadow: 1px 2px 8px 0px rgba(39, 70, 68, 0.10);
        overflow: hidden;
        max-height: 135px;
        display: flex;
        align-items: center;
    }
}
#shopinfo_control{
    display: none;
}
@media (min-width: 961px){
    #shopinfo{
        display: block;
    }
}

@media (max-width: 960px){
    #shopinfo_control{
        display: block;
    }
}

// 訂單資訊
.orderinfo{
    &-text{
        color: #8F8F8F;
        line-height: 150%;
        letter-spacing: 0.5px;
        margin-bottom: 16px;
    }
    &-list{
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            border-bottom: 1px solid #E5E5E5;
            @media (max-width: 960px) {
                &:first-child:not(.without-input){
                    flex-direction: column;
                } 
            }
            &:last-child{
                border-bottom: 0;
            }
            &.flex-column{
                flex-direction: column;
                padding: 12px 0;
                gap: 4px 0;
            }
            &-sub {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                *{
                    color: rgba(0, 0, 0, 0.60);
                    font-size: 14px;
                    letter-spacing: 0.5px;
                }
                &-title{
                    color: #444;
                }
            }
            &-amount{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                label{
                    color: #626262;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    i{
                        display: flex;
                        margin-right: 4px;
                        height: 20px;
                        width: 17px;
                        height: 17px;
                    }
                    span{
                        color: #8F8F8F;
                        margin-left: 8px;
                    }
                }
                div{
                    color: #11A4A2;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
        &-quantity {
            display: flex;
            align-items: center;
            @media (max-width: 960px) {
                width: 100%;
                justify-content: space-between;
            }
            span{
                color: #D63333;
            }
            label{
                font-size: 14px;
                letter-spacing: 0.5px;
            }
            &-input{
                display: flex;
                align-items: center;
                margin-left: 24px;
                button{
                    width: 44px;
                    height: 44px;
                    border: 1px solid #CCC;
                    margin: 0 -4px;
                    z-index: 1;
                    background: #fff;
                }
                input{
                    border: 1px solid #ccc;
                    height: 44px;
                    color: #444;
                    font-size: 16px;
                    text-align: center;
                    width: 60px;
                    padding-left: 12px;
                }
            }
            &-value{
                color: #0D7B79;
                letter-spacing: 0.5px;
                margin-left: 16px;
            }
        }
        &-text{
            color: #8F8F8F;
            letter-spacing: 0.15px;
            font-size: 16px;
            @media (max-width: 960px) {
                width: 100%;
                text-align: right;
            }
        }
    }
}
.without-input .orderinfo-list-quantity{
    justify-content: unset;
}
#orderinfo_button{
    @media (max-width: 960px){
        display: none;
    }
}
#orderinfo_button_m{
    display: none;
    @media (max-width: 960px){
        display: flex;
        margin: 0 -16px 0 0;
    }
    .button-text{
        display: flex;
        flex-direction: column;
        align-items: end;
        label{
            color: rgba(0, 0, 0, 0.60);
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
            display: flex;
            align-items: center;
            i{
                display: flex;
                align-items: center;
                margin-right: 2px;
                justify-content: center;
                img{
                    width: 20px;
                }
            }
        }
        div{
            color: #11A4A2;
            font-weight: 700;
            line-height: 28px;
        }
    }
    .button-primary{
        width: 60%;
        flex: 0 0 auto;
        margin-left: 0;
    }
}

// 產品資訊
.product{
    &-wrap{
        box-shadow: 1px 1px 3px 0px rgba(171, 171, 171, 0.90), -1px -1px 2px 0px rgba(255, 255, 255, 0.90), 1px -1px 2px 0px rgba(171, 171, 171, 0.20), -1px 1px 2px 0px rgba(171, 171, 171, 0.20), -1px -1px 2px 0px rgba(171, 171, 171, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
        border-radius: 8px;
        padding: 16px;
        overflow: hidden;
        input{
            height: 56px;
            padding: 0px 8px;
            color: #0D7B79;
            letter-spacing: 0.5px;
            border-radius: 4px;
            background: rgba(33, 33, 33, 0.03);
            width: 100%;
            text-align: center;
            margin-top: 6px;
            font-size: 16px;
            &::placeholder{
                color: #8F8F8F;
            }
        }
    }
    &-collapse{
        margin: 0 -16px -16px;
        &-header{
            background-color: rgba(0, 191, 190, 0.10);
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: end;
            h2{
                color: #0D7B79;
                line-height: 32px;
                letter-spacing: 0.15px;
            }
            a{
                margin-left: 8px;
                display: flex;
            }
        }
        &-content{
            padding: 16px 16px 24px 16px;
            background: linear-gradient(180deg, rgba(17, 164, 162, 0.00) 0%, rgba(17, 164, 162, 0.15) 100%);
            label{
                color: #8E8E8E;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.1px;
            }
            div{
                color: #1E1E1E;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.15px;
            }
        }
    }
    &-select{
        position: relative;
        padding: 8px;
        border: 1px solid transparent;
        border-radius: 8px;
        margin: 16px 0;
        &.active{
            border-color: #00BFBE;
        }
        .shopinfo-item:first-of-type{
            margin-top: 0;
        }
        .checkmark{
            height: 24px;
            width: 24px;
            &::after{
                width: 16px;
                height: 16px;
            }
        }
    }
}

// 優惠方案
.saleinfo{
    &-wrap{
        margin: 16px 0;
    }
    &-title{
        border-radius: 8px 64px 0px 0px;
        background: rgba(0, 191, 190, 0.50);
        box-shadow: 0px 7px 10px 0px rgba(0, 191, 190, 0.16);
        padding: 8px 32px;
        display: flex;
        align-items: center;
        @media (max-width: 960px){
            border-radius: 8px 8px 0px 0px;
            padding: 16px;
        }
        h3{
            color: #FFF;
            font-size: 20px;
            letter-spacing: 0.5px;
        }
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
        }
    }
    &-item{
        padding: 16px;
        position: relative;
        margin: 16px 0;
        border-radius: 8px;
        border: 1px solid transparent;
        &:hover{
            background: rgba(0, 191, 190, 0.05);
        }
        &.active{
            border-color: #00BFBE;
        }
        input[type="radio"]{
            position: absolute;
            right: 16px;
            width: 32px;
            height: 32px;
        }
        &-wrap{
            border-radius: 0px 0px 8px 8px;
            box-shadow: 1px 2px 8px rgba(39, 70, 68, 0.10);
            padding: 24px 16px;
        }
        &-name {
            display: flex;
            align-items: center;
            @media (max-width: 960px){
                flex-direction: column;
                align-items: start;
            }
            label{
                border-radius: 8px;
                background: var(--linear_1, linear-gradient(327deg, #00BFBE 22.46%, rgba(27, 74, 203, 0.50) 87.6%));
                width: 65px;
                height: 32px;
                display: block;
                line-height: 32px;
                text-align: center;
                color: #FFF;
                margin-right: 8px;
                font-size: 16px;
            }
            span{
                letter-spacing: 0.5px;
                font-size: 16px;
            }
        }
        &-description {
            color: #626262;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.15px;
            margin: 16px 0;
        }
        &-price{ 
            display: flex;
            align-items: end;
            justify-content: end;
            padding-right: 48px;
            @media (max-width: 960px){
                justify-content: start;
            }
            span{
                color: #626262;
                font-size: 14px;
                letter-spacing: 0.15px;
            }
            div{
                display: flex;
                align-items: end;
                font-size: 14px;
                letter-spacing: 1px;
            }
            p{
                color: #00BFBE;
                letter-spacing: 0.15px;
                margin: 0 8px 0 16px
            }
            b{
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
    &-select{
        margin: 16px 0 24px;
        label{
            color: #8F8F8F;
            font-size: 14px;
            letter-spacing: 0.5px;
        }
        &-price{
            display: flex;
            align-items: end;
            font-size: 16px;
            letter-spacing: 0.5px;
            padding: 14px 0 0 24px;
            p{
                font-size: 16px;
            }
            span{
                color: #11A4A2;
                margin: 0 8px;
                font-size: 14px;
            }
            b{
                font-weight: bold;
            }
        }
    }
}

// 付款表單
.form{
    &-content-wrap {
        padding: 16px 16px 32px;
        display: flex;
        flex-direction: column;
        gap: 24px 0px;
    }
    &-item{
        display: flex;
        flex-direction: column;
        &-between{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 12px;
            select{
                width: 40%;
            }
            input{
                width: 20%;
            }
            @media (max-width: 480px){
                flex-direction: column;
                align-items: flex-start;
                gap: 10px 0;
                select, input{
                    width: 100% !important;
                }
            }
        }
        &-inline{
            display: flex;
            align-items: center;
            justify-content: space-between;
            label{
                margin: 0;
            }
            @media (max-width: 480px){
                flex-direction: column;
                align-items: self-start;
            }
        }
        &-subcontent{
            padding: 16px;
            border-radius: 8px;
            background: rgba(0, 191, 190, 0.03);
            display: none;
            flex-direction: column;
            gap: 24px 0;
            &.active{
                display: flex;
            }
        }
        label{
            color: #444;
            font-size: 14px;
            letter-spacing: 0.5px;
            margin-bottom: 6px;
        }
        input[type="text"], select{
            border-radius: 4px;
            background: rgba(33, 33, 33, 0.03);
            line-height: 56px;
            padding: 0 21px;
            font-size: 16px;
            letter-spacing: 0.5px;
            color: #0D7B79;
            &::placeholder{
                color: #8F8F8F;
            }
        }
        select{
            color: rgba(0, 0, 0, 0.87);
            background-color: rgba(33, 33, 33, 0.03);
            background-image: url(../images/icon-down.svg);
            background-repeat: no-repeat;
            background-position: right 0 top 50%;
            padding: 0 21px 0 16px;
        }
        .radio-item{
            position: relative;
            padding-left: 30px;
            input[type="radio"]{
                position: absolute;
                width: 24px;
                height: 24px;
            }
            .checkmark{
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                height: 24px;
                width: 24px;
                &:after {
                    width: 16px;
                    height: 16px;
                }
            }
            .radio-label{
                color: rgba(0, 0, 0, 0.87);
                font-size: 16px;
                letter-spacing: 0.5px;
            }
            &-wrap{
                display: flex;
                align-items: center;
                gap: 0 24px;
                // margin-left: 64px;
                @media (max-width: 480px){
                    margin-left: 0;
                }
            }
        }
        &.checkbox-item{
            flex-direction: row;
            align-items: center;
            .checkbox-label{
                position: relative;
                .checkmark{
                    border-radius: 2px;
                    border-width: 1px;
                    left: 0;
                    top: 0;
                    width: 24px;
                    height: 24px;
                    background-color: #fff;
                    &:after {
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid #fff;
                        border-width: 0 2px 2px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        background: none;
                        border-radius: 0;
                      }
                }
            }
            input:checked ~ .checkmark {
                border-color: #1B4ACB;
                background-color: #1B4ACB;
            }
            label{
                color: #1B4ACB;
                font-size: 16px;
                margin-bottom: 0;
                margin-right: 6px;
            }
            input{
                width: 24px;
                height: 24px;
                margin: 0;
                display: flex;
            }
        }
        &-radio{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 10px;
            border-bottom: 1px solid #2121211A;
            position: relative;
            &:hover, &.active{
                background: rgba(0, 191, 190, 0.03);
            }
            &#credit_content{
                display: none;
                padding: 16px;
                &.active{
                    display: block;
                }
            }
            &-wrap{
                gap: 0;
            }
            &-label{
                display: flex;
                align-items: center;
                &.withicon img{
                    margin-right: 12px;
                }
            }
            &-img{
                border-radius: 4px;
                border: 1px solid #DDD;
                width: 64px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
                img{
                    max-width: 48px;
                }
            }
            .checkmark{
                height: 24px;
                width: 24px;
                border: 2px solid #626262;
                top: 50%;
                right: 20px;
                transform: translate(0, -50%);
                &::after{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

// 信用卡資訊
.credit-card-item{
    &-between{
        display: flex;
        justify-content: space-between;
        @media (max-width: 480px){
            flex-direction: column;
            gap: 24px 0;
        }
    }
    &-radio{
        position: relative;
        padding-left: 32px;
        .checkmark{
            width: 24px;
            height: 24px;
            top: 12px;
            right: auto;
            left: 0;
            &:after{
                width: 16px;
                height: 16px;
            }
        }
        select{
            color: #626262;
            letter-spacing: 0.5px;
            border-bottom: 1px solid #8F8F8F;
            width: 100%;
            line-height: 28px;
            margin-top: 10px;
            padding: 0 16px;
            background-image: url(../images/icon_select_right.svg);
            background-repeat: no-repeat;
            background-position: right 0.7rem top 50%;
        }
    }
}

// 連結資訊
.gray-section {
    display: flex;
    padding: 16px 16px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: #EAEAEA;
    color: #5C5C5C;
    border-radius: 8px;
    &-link {
        display: flex;
        align-items: center;
        a{
            margin-left: 8px;
            letter-spacing: 0.15px;
            text-decoration-line: underline;
        }
    }
}

// 同意條款
.white-section{
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    margin-bottom: -24px;
    .section-content{
        padding: 16px 16px 24px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 32px 0;
    }
    .form-item.checkbox-item{
        align-items: flex-start;
        label:not(.checkbox-label){
            color: #1E1E1E;
        }
        input:checked ~ .checkmark{
            border-color: #0D7B79;
            background-color: #0D7B79;
        }
    }
}

// 提示文字
.hint-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.5px;
    margin: 16px 0;
    color: #9A9A9A;
}

// 商家名稱
title{
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding: 24px 0;
    text-align: center;
}

// 支付金額
.payamount{
    &-wrap{
        display: flex;
        align-items: center;
        padding: 32px 16px;
        border-radius: 8px;
        box-shadow: 1px 1px 3px 0px rgba(171, 171, 171, 0.90), -1px -1px 2px 0px rgba(255, 255, 255, 0.90), 1px -1px 2px 0px rgba(171, 171, 171, 0.20), -1px 1px 2px 0px rgba(171, 171, 171, 0.20), -1px -1px 2px 0px rgba(171, 171, 171, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
        margin: 16px 0 0;
        &.active{
            box-shadow: 1px 1px 3px 0px rgba(171, 171, 171, 0.90), -1px -1px 2px 0px rgba(255, 255, 255, 0.90), 1px -1px 2px 0px rgba(171, 171, 171, 0.20), -1px 1px 2px 0px rgba(171, 171, 171, 0.20), -1px -1px 2px 0px rgba(171, 171, 171, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset, 0px 0px 8px 0px rgba(17, 164, 162, 0.50), 0px 0px 2px 0px rgba(21, 205, 202, 0.40);
        }
    }
    &-text{
        color: #8E8E8E;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        padding-right: 16px;
        flex: 0 0 auto;
        &:after{
            content: '';
            background-color: rgba(143, 143, 143, 0.20);
            width: 1px;
            height: 18px;
            position: absolute;
            top: 5px;
            right: 8px;
        }
    }
    &-input{
        text-align: right;
        font-size: 24px;
        font-style: normal;
        font-weight: 500; 
        line-height: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
    }
}

// 錯誤提示文字
.error-text{
    color: #E01E1E;
    font-size: 12px;
    margin: 16px 0 -24px;
    display: flex;
    align-items: center;
    justify-content: end;
    i{
        width: 16px;
        margin-right: 4px;
        display: flex;
        align-items: center;
    }
}

// 按鈕
.button{
    &-wrap{
        display: flex;
        justify-content: space-between;
        margin: 40px -16px;
    }
    &-primary{
        background: #0D7B79;
        color: #FFF;
        flex: 1 0 auto;
        text-align: center;
    }
    &-secondary{
        color: #8F8F8F;
        width: 100px;
        margin-right: 0;
    }
    &-back{
        color: #0D7B79;
        width: 116px;
        border: 2px solid #0D7B79;
        border-radius: 8px;
        height: 40px;
        div{
            margin-left: 4px;
        }
        // img{
        //     transform: scale(2);
        //     transform-origin: 35%;
        // }
    }
}
button{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    letter-spacing: 1.25px;
    line-height: 14px;
    margin: 0 16px;
}
#orderinfo_pay_button{
    margin: 0 -16px;
}


// tab
.tab-content{
    display: none;
    &.active{
        display: block;
    }
}

// 付款方式
.payment{
    &-wrap{
        title{
            color: #11A4A2;
            font-size: 14px;
            line-height: 24px;
            width: 100%;
            text-align: left;
            padding: 0;
            margin: 16px 0;
        }
    }
    &-list{
        flex-wrap: wrap;
        margin: 16px -4px 40px;
        &.active{
            display: flex;
        }
        a{
            display: flex;
            align-items: center;
            width: calc(50% - 8px);
            justify-content: center;
            height: 80px;
            border-radius: 8px;
            border: 0.8px solid #CCC;
            margin: 8px 4px; 
            &.payment-credit{
                width: 100%; 
                div{
                    margin-left: 20px;
                }
            }
            &.service-link{
                border: 0;
                background-color: rgba(33, 33, 33, 0.03);
                height: 32px;
                justify-content: start;
                border-radius: 0;
                color: #8F8F8F;
                width: 100%;
                margin-top: 0;
                div{
                    margin-left: 8px;
                }
            }
        }
        p{
            color: #8F8F8F;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.5px;
            margin: 8px 4px;
            border: 1px solid #C4D5D7;
            border-width: 0 0 1px 0;
            padding: 0 0 16px 0;
            width: 100%;
            &:last-of-type{
                border: 0;
                
            }
        }
    }
    &-tab{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 16px 0;
        border-radius: 12px;
        background: rgba(33, 33, 33, 0.05);
        padding: 4px;
        a{
            height: 32px;
            width: 50%; 
            margin: 0;
            border-radius: 0;
            border: 0;
            color: #0D7B79;
            text-align: center;
            line-height: 32px;
            &.active{
                border-radius: 12px;
                background: #0D7B79;
                color: #FFF;
            }
        }
    }
}

.w-50{
    width: 50%;
    @media (max-width: 960px){
        width: 100%; 
    }
}

// 分期
.installment{
    &-item{
        margin: 32px 0;
        legend{
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 24px;
        }
    }
    &-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-radio{
        display: flex;
        align-items: center;
        input[type="radio"]{
            border: 1px solid #8F8F8F;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            &:checked ~ *{
                border-color: #0D7B79;
            }
        }
    }
    // 唯讀
    &-read{
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            color: #626262;
            letter-spacing: 0.5px;
        }
    }
    &-label{
        color: #11A4A2;
        font-size: 14px;
        letter-spacing: 0.5px;
    }
}

// 信用卡付款資訊
.creditcard-info{
    &-wrap{
        margin: 20px 0;
        p{
            color: #8F8F8F;
            font-size: 14px;
        }
    }
    &-item{
        margin: 24px 0;
        &.expdate{
            margin-right: 16px;
            flex: 1 0 auto;
        }
        &.cvv{
            width: 106px;
            input{
                width: 100%;
            }
        }
    }
    &-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-icon{
        display: flex;
        align-items: center;
        margin: 0 -4px;
        img{
            width: 22px;
            margin: 0 4px;
        }
    }
    &-cardnumber{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 6px -6px 0;
        input{
            width: 25%;
            border-radius: 4px;
            background: rgba(33, 33, 33, 0.03);
            margin: 0 6px;
            line-height: 36px;
            text-align: center;
            color: rgba(0, 0, 0, 0.38);
            letter-spacing: 0.15px;
            font-size: 16px;
            height: 36px;
        }
        &.invalid{
            & ~ .error-text{
                justify-content: start;
                margin: 6px 0 -24px;
            }
            input{
                border: 1px solid #E01E1E;
            }
        }
        
    }
    &-expdate{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 6px -4px 0;
        select{
            border-radius: 4px;
            width: 50%;
            margin: 0 4px;
            line-height: 36px;
            padding: 0 16px;
            color: rgba(0, 0, 0, 0.87);
            letter-spacing: 0.15px;
            background-color: rgba(33, 33, 33, 0.03);
            background-image: url(../images/icon-down.svg);
            background-repeat: no-repeat;
            background-position: right 0.7rem top 50%;
        }
    }
    &-row{
        display: flex;
        margin-bottom: -24px;
    }
    &-hint{
        color: #8F8F8F;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-top: 6px;
    }
}

// 付款結果
.pay{
    &-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 0;
        > div{
            margin: 8px 0;
        }
        &.fail{
            padding-top: 16px;
            .pay-title{
                display: flex;
                align-items: center;
                font-weight: 500;
                div{
                    display: flex;
                }
                span{
                    color: #E01E1E;
                    margin-left: 8px;
                }
                &.page-exp{
                    flex-direction: column;
                    margin-top: 0;
                    span{
                        margin: 8px 0 0 0;
                    }
                }
            }
            .pay-hint{
                color: #444;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: 1.12px;
            }
        }
    }
    &-icon{
        max-width: 56px;
        display: flex;
        border: 1px solid #CCC;
        height: 38px;
        align-items: center;
        justify-content: center;
        padding: 0 6px;
        border-radius: 4px;
    }
    &-title{
        color: #11A4A2;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
       
    }
}

// fancybox
.fancybox-button{
    width: 100%;
    margin: 0;
    border: 1px solid #CCCCCC;
    border-width: 1px 0 0 0;
    border-radius: 0;
    height: 42px;
    margin-bottom: 8px;
}

// footer
footer{
    background: #4B4E55;
    padding: 14px 0 24px;
}
.footer{
    &-partner{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px;
        a{
            display: flex;
        }
        div{
            font-size: 18px;
            line-height: 24px;
            color: #FFF;
            padding-right: 24px;
            position: relative;
            &:after{
                content: '';
                background-color: #878787;
                width: 2px;
                height: 23px;
                position: absolute;
                top: 2px;
                right: 12px;
            }
         }
    } 
    &-text{
        color: #00CDCC;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    &-copyright{
        color: #D9DBE1;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}
